.searchbar-dropdown-content {
  /* display: none; */
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  z-index: 1;
  background-color: #fefefe;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    -9px 5px 15px 5px rgba(133, 133, 133, 0);
  box-shadow: 0px 10px 13px -7px #000000,
    -9px 5px 15px 5px rgba(133, 133, 133, 0);
  height: 10rem;
}

.dropdown-content-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
}

.dropdown-content-body {
  display: flex;
  list-style: none;
  padding: 1rem;
  flex-direction: column;
}

.dropdown-content::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.dropdown-content::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 10px;
}
.dropdown-content::-webkit-scrollbar-thumb:hover {
  background: #b1b2b5;
}
.dropdown-content::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px 0px #f0f0f0;
}
.closeBtn {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #aaaaaa;
  text-decoration: none;
  cursor: pointer;
}
