.loginBox {
  height: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginButton,
.loginDemoButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #176cf0;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginRegisterButtonLink {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  width: 100%;
}

.loginRegisterButton {
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.css-18lrjg1-MuiCircularProgress-root {
  color: white !important;
}

.error_msg {
  font-size: 1rem;
  color: red;
  font-style: italic;
}
