.share {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareWrapper {
  padding: 10px;
}

.shareTextContainer {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.shareTextContainer::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.shareTextContainer::-webkit-scrollbar-thumb {
  background: #b3afb3;
  border-radius: 9px;
}

.shareTextContainer::-webkit-scrollbar-thumb:hover {
  background: #b3afb3;
}

.shareTextContainer::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 9px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

.shareInput {
  padding-top: 5px;
  border: none;
  width: 100%;
  min-height: 90%;
  overflow-wrap: break-word;
}

.shareTop {
  display: flex;
  height: 5rem;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 10px 0 20px;
}

.shareBottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  flex-wrap: wrap;
}

.shareOption {
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}

.shareButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

.shareImgContainer {
  padding: 0 20px 10px 20px;
  position: relative;
}

.shareImg {
  width: 100%;
  object-fit: cover;
}

.shareCancelImg {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  float: right;
}

.close:hover,
.close:focus {
  color: #aaaaaa;
  text-decoration: none;
  cursor: pointer;
}

.tagModal,
.locationModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.locationOption {
  width: 6rem;
  height: 2rem;
  display: flex;
  overflow: auto;
}

.locationModalBtn {
  overflow: hidden;
}

.locationOption::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

.locationOption::-webkit-scrollbar-thumb {
  background: #f7f7f7;
  border-radius: 9px;
}

.locationOption::-webkit-scrollbar-thumb:hover {
  background: #f7f7f7;
}

.locationOption::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 9px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}